.main-header{display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #6496E5;
  padding: 50px;}

body,html
{padding: 0;margin: 0;}

h1{ color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 10px;}

h4{ color: white;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;}

.input-text
{width: 95%;
  height: 50px;
  border-radius: 15px;
  border: none;
  padding-left: 10px;margin-top:20px;}

.btn-add{
  background-color: inherit;
  border : solid;
  color: white;
  padding: 15px 30px;
  font-size: 20px;
  border-radius: 10px;
  margin-top: 20px;
  font-weight: bold;}

.pr{ color:gray; font-family: Arial, Helvetica, sans-serif;display: flex;margin: 40px;
  font-size: 25px;font-weight: bold;}

.main-header span{ font-size: 18px;font-weight: bold;color: whitesmoke;}
.btn {padding:5px;margin: 15px;margin-top: -5px;}
.p{margin-left: 50px;}
.update-field{margin-right:45%;float: right;}

